.nav-el{
	text-decoration : none;
	color : black;
}

.nav-el:hover{
	color : black;
}
.searchBar{
	border : none;
}

.search-btn{
	border : none;
	padding : 5px;
}

#message{
	margin-top : 10px;
	font-size : 15px;
}

.setSliderimg{
	height : 400px;
}

